<!DOCTYPE html>
<html>
<head>
	<title>Salsa</title>
	<link rel="stylesheet" href="/app.css"/>
	<link rel="stylesheet" type="text/css" href="">
	<script src="/jquery.js"></script>
	<script src="/main.js"></script>	
</head>
<body>
	<h1>Salsa Lovers</h1>
	<nav>
		<ul>
			<li><a href="#"  data-action="where">Where</a><div>where to dance</div></li>
			<li> <a href="#" data-action="when"> When</a><div>When you want to dance</div></li>
			<li> <a href="#" data-action="how"> How </a><div>When you want to learn to dance</div></li>
		</ul>
	</nav>
	<div class="main-content">
	</div>



</body>
</html>